html, body {
  font-family: 'Futura';
  background-color: #FDFCDC;
  height: 100vh;
}

.container {
	height: 100%;
}

h1 {
  color: #F07167;
}

h2 {
  color: #F07167;
}

a {
  color: #0081A7;
}

a:hover {
  color: #00AFB9;
}

/*
.red {background-color: red;}
.blue {background-color: blue;}
.green {background-color: green;}
.yellow {background-color: yellow;}
*/